__pycache__/
tests/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

.venv/
env/
venv/
ENV/

*.tokens
*.interp

.DS_Store
Thumbs.db

.dockerignore
docker-compose.override.yml
*.pid

.vscode/
.idea/
*.swp

*.tmp
*.bak
*.old
*.orig

archivo.cps
*.class
